body {
    background-color: white;
    color: #333;
    font: 16px/1.5 Arial, Helvetica, sans-serif;
}

a {
    color: #333;
}

h1 {
    margin: 0 0 20px 0;
    padding: 0 5%;
    background-color: #333;
    color: white;
}

#revfeed, footer {
    margin: 0 auto;
    width: 90%;
}

#revfeed {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}

.commits {
    margin: 0;
    padding: 0;
    list-style: none;
}

.commits li,
.action {
    overflow: hidden;
    padding: 0 10px;
    border-bottom: 1px silver solid;
    background-color: #eee;
    text-shadow: 1px 1px 0 white;
}

.commits li {
    transition: background-color 0.5s;
}

.commits .new {
    display: none;
}

.commits li img {
    float: left;
    margin-top: 6px;
}

.commits li .message {
    margin: 8px 0 8px 25px;
    padding: 0;
    white-space: pre-wrap;
    line-height: 1;
}

.commits li .metadata {
    float: right;
    margin: 6px 0;
    font-size: 80%;
}

@media only screen and (max-width: 479px) {
    .commits li {
        font-size: 80%;
    }
}

.commits li .metadata time {
    color: #595959;
}

.commits li .metadata .repo-name {
    display: inline-block;
    padding: 0 5px;
    border-radius: 3px;
    background-color: silver;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    line-height: 1.25;
}

.action {
    border-color: #d0d0d0;
    background-color: #f6f6f6;
    text-align: center;
    font-size: 80%;
    line-height: 2;
}

.action a {
    color: gray;
}

.new-commits {
    display: none;
}
