body {
    background-color: white;
    color: #333;
    font: 16px/1.5 Arial, Helvetica, sans-serif;
}

a {
    color: #333;
}

header, #revfeed, footer {
    margin: 0 auto;
    width: 90%;
}

#revfeed {
    padding: 10px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}

.repo {
    margin-bottom: 10px;
}

.repo h2 {
    margin: 0;
}

.repo .commits {
    margin: 0;
    padding: 0;
    list-style: none;
}

.repo .commits li,
.repo .more {
    overflow: hidden;
    padding: 0 5px;
    border-bottom: 1px silver solid;
    background-color: #eee;
    text-shadow: 1px 1px 0 white;
    line-height: 30px;
}

.repo .commits li img {
    float: left;
    margin-top: 5px;
    border-radius: 10px;
}

.repo .commits li .message {
    margin: 7px 0 7px 30px;
    padding: 0;
    line-height: 15px;
}

.repo .commits li time {
    float: right;
    color: #595959;
    font-size: 80%;
}

.repo .more {
    text-align: center;
    font-size: 80%;
    line-height: 20px;
}

.repo .commits .more a {
    color: gray;
}