<!doctype html>
<head>
    <title>Revfeed</title>
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/app.css">
    <script src="/static/js/spine.js"></script>
    <script src="/static/js/app.js"></script>
</head>
<body>
    <header>
        <h1>Revfeed</h1>
    </header>
    <div id="repos">
        <h2>Repo</h2>
        <ul>
            <li>
                <img src="http://gravatar.com/avatar/a6d17cf134d9b595c38a8d9db9008508.jpg?s=20">
                Bump version
                <time>11:30 AM - 8 Oct 12</time>
            </li>
            <li>
                <img src="http://gravatar.com/avatar/a6d17cf134d9b595c38a8d9db9008508.jpg?s=20">
                Refactor
                <time>11:20 AM - 8 Oct 12</time>
            </li>
            <li>
                <img src="http://gravatar.com/avatar/a6d17cf134d9b595c38a8d9db9008508.jpg?s=20">
                Add a feature
                <time>11:10 AM - 8 Oct 12</time>
            </li>
            <li>
                <img src="http://gravatar.com/avatar/a6d17cf134d9b595c38a8d9db9008508.jpg?s=20">
                Initial commit
                <time>11:00 AM - 8 Oct 12</time>
            </li>
            <li class="more">
                <a href="#">More&hellip;</a>
            </li>
        </ul>
    </div>
    <footer>
        <p>
            By <a href="https://twitter.com/themarksteve" target="_blank">@themarksteve</a>
            &mdash;
            <a href="https://github.com/marksteve/revfeed" target="_blank">Github</a>
        </p>
    </footer>
</body>
</html>