<!doctype html>
<head>
    <title>Revfeed</title>
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/app.css">
    <script src="/static/js/components/jquery/jquery.js"></script>
    <script src="/static/js/components/mustache/mustache.js"></script>
    <script src="/static/js/components/spine/lib/spine.js"></script>
    <script src="/static/js/components/spine/lib/ajax.js"></script>
    <script src="/static/js/components/spine/lib/relation.js"></script>
    <script src="/static/js/components/moment/moment.js"></script>
    <script src="/static/js/lib/app.js"></script>
</head>
<body>
    <header>
        <h1>Revfeed</h1>
    </header>
    <div id="revfeed">
        <ul class="commits"></ul>
        <div class="more"><a href="#">More&hellip;</a></div>
    </div>
    <footer>
        <p>
            By <a href="https://twitter.com/themarksteve" target="_blank">@themarksteve</a>
            &mdash;
            <a href="https://github.com/marksteve/revfeed" target="_blank">Github</a>
        </p>
    </footer>
    <script id="commit-template" type="text/html">
        <img src="<% author_avatar %>" alt="<% author_name %> <<% author_email %>>">
        <div class="metadata">
            <span class="repo-name"><% repo_name %></span>
            <time><% formattedTime %></time>
        </div>
        <p class="message"><% message %></p>
    </script>
</body>
</html>